/* page layout */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.container {
    display: grid;
    grid-template-rows: 0.25fr 1fr 0.25fr;
    grid-template-columns: 0.4fr 1fr 1fr;
    grid-template-areas: 
        'me h h'
        'b ma ma'
        'f f f';
    width: 100vw;
    height: 100vh;
    color: #286983;
    background-color: #faf4ed;
}

/* buttons */

.menu-btn {
    grid-area: me;
    display: flex;
    justify-content: left;
    align-self: end;
    border: none;
    padding-left: 30px;
    color: #286983;
    background-color: #faf4ed;
    font-size: 2em;
}

.menu-btn:hover {
    color: #575279;
}

.side-menu .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.new-note-btn {
    border: none;
    align-self: flex-start;
    margin-right: 20px;
    color: #286983;
    background-color: #faf4ed;
}

.new-note-btn:hover {
    color: #575279;
}

.dark-btn {
    border: none;
    color: #286983;
    background-color: #faf4ed;
}

/* header */

.header {
    grid-area: h;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.top li {
    list-style-type: none;
    margin-right: 3em;
}

.top li:hover {
    color: #575279;
}

/* side menu */ 

.side-menu {
    display: none;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    background-color: #f2e9de;
}

.side li {
    list-style-type: none;
    text-decoration: none;
    padding: 8px 8px 8px 32px;
    font-size: 1em;
    color: #286983;
    display: block;
}

.side li:hover {
    color: #575279;
  }

/* main body */

.main {
    grid-area: ma;
    display: flex;
    flex-direction: row;
}

/* footer */

footer {
    grid-area: f;
    align-self: end;
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* media query */

@media only screen and (max-width: 600px) {
    * {
        font-size: 12px;
    }

    /* header */
    .header li {
        font-size: 1.5em;
    }

    .container {
        display: grid;
        grid-template-columns: 0.25fr 0.75fr;
        grid-auto-rows: auto;
        grid-template-areas:
        ' me h'
        ' li ma '
        ' ma ma '
        ' f f ';
    }

    /* side menu */ 

    .menu {
        font-size: 3rem;
    }

    .side-menu {
        width: 100%;
    }

    .side li {
        font-size: 3em;
    }

    /* new note button */
    .main {
        align-items: center;
    }

    .main button {
        font-size: 2em;
        justify-content: center;
    }
}

/* darkmode function */

.darkmode {
    color: #e0def4;
    background-color: #191724;
}

.darkmode-menu {
    color: #e0def4;
    background-color: #393552;
}

.darkmode-menu li{
    color: #e0def4;
    background-color: #393552;
}